body{
    background: rgb(7,3,88);
    background-image: linear-gradient(90deg, rgba(7,3,88,1) 50%, rgba(0,117,255,1) 100%);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: max-content;
}
button{
    border: 0ch;
    border-radius: 2px;
    cursor: pointer;
    background: transparent;
    outline: none;
    
}
header{
    padding: 10px 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 30px;
    top: 0;
    overflow: hidden;
}
a{
    color: rgb(254, 250, 250);
    font-size: 15px;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
    color: aqua;
}
#lg1{
    height: 10px;
    width: 10px;
    text-align: right;
    position: fixed;
    left: 95%;
    color: white;
}
#logo{
    height: 55px;
    width: auto;
    border-radius: 30px;
    position: fixed;
    left: 20px;
    top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 #9a86fd;
}
#logo:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 #ffbb70;
}
#profile{
    height: 370px;
    position: absolute;
    left: 27%;
    top: 44%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}
#profile2{
    height: 347px;
    position: absolute;
    left: 22%;
    top: 20%;
    border-radius: 50%;
}
#name{
    position: absolute;
    left: 64%;
    top: 14%;
    transform: translate(-50%, -50%);
    font-size: 148px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#title{
    position: absolute;
    left: 59%;
    top: 32%;
    transform: translate(-50%, -50%);
    font-size: 125px;
    color: white;
}
#quo{
    position: absolute;
    left: 54%;
    top: 80%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    color: white;
}
#abo{
    font-size: 22px;
    color: white;
    display: flex;

}
#about{
    font-size: 20px;
    color: white;
    display: flex;
    padding-top: 50%;
    padding-right: 50%;
    padding-left: 20%;
}
hr{
    border:  solid rgb(233, 213, 213);
    width: 100%;
    position: fixed;
    top: 10%;
}
#box1{
    position: absolute;
    left: 65%;
    top: 100%;
    background-image: url(/images/profile.JPG);
    height: 250px;
    width: 250px;
    align-content: center;
}